* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-card {
  /* width: 1440px;
  height: 900px; */

  background: #efeff2;
}

.background-image {
  /* width: 788px;
  height: 900px; */
  left: 0px;
  top: 0px;

  background: linear-gradient(
      146.14deg,
      #243851 -1.83%,
      rgba(36, 56, 81, 0.67) 87.06%,
      rgba(36, 56, 81, 0) 114.27%
    ),
    url(./images/pexels-ksenia-chernaya-5765829.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* object-fit: cover; */
  /* background-repeat: no-repeat; */
  height: 100vh;
}

/* .content {
  margin-left: 50px;
} */

.logo {
  width: 157.89px;
  height: 50px;
  margin-top: 145px;
}

.welcome {
  font-family: "Source Sans Pro", sans-serif;
  left: 60.35%;
  right: 25.76%;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

.sub-heading {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  /* text-align: center; */

  color: #2f4662;
}
.login-content {
  padding-left: 3rem;
}
.login-label {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #444444;
}
.record-form {
  width: 100%;
}
input {
  border: none;
  border-bottom: 2px solid #f3f3f3;
  outline: none;
  width: 100%;
}
/*
input:valid {
  border: none;
  border-bottom: 2px solid green;
  outline: none;
} */

input:invalid {
  border: none;
  border-bottom: 2px solid red;
  outline: none;
}

.form-group {
  position: relative;
}

span.fa {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.forgot-password {
  text-align: right;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  color: #1d84b5;
}

.forgot-password:hover {
  text-decoration: none;
  cursor: pointer;
}

.login-button {
  /* Primary color */

  left: 60.28%;
  right: 14.58%;
  top: 72%;
  bottom: 22.67%;
  background: #d32027;
  padding: 6px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(40, 208, 71, 0.1);
  border-radius: 3px;
  width: 100%;
}

.login-text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  /* text-align: center; */
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}
\ .main-content {
  display: flex;
  width: 100%;
}

.main-content .sidenav {
  min-width: 255px;
  max-width: 255px;
  height: 100vh;
  position: fixed;
  background: grey;
  overflow-y: auto;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-image: url(./images/figure.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 99;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  /* Text Black */

  color: #484b51;
}

.sidebar a.active {
  background-color: #d32027;
  color: white;
  width: 220px;
}

.sidebar a:hover .sidebar-icon svg.icon {
  /* width: 100px; */
  fill: #ffffff;
  /* background-color: indigo; */
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #d32027;
  color: white;
}
.btn__logout {
  /* position: absolute; */
  bottom: 0;
  left: 0;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

.content {
  margin-left: 240px;
  /* width: 100%; */
}

.content-sizing {
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .background-image {
    display: none;
  }
  /* .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  } */
  .sidebar a {
    float: left;
    display: none;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.active .sidebar-icon svg {
  fill: white;
}

.sidebar-icon svg {
  fill: green;
}

.sidebar-logo {
  width: 100px;
}

.main-menu {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #667389;
}

.record-icon:active {
  background: url("images/icons/inactive-icons/inactive-dashboard.svg");
}

.underline {
  border-bottom: 1px solid#ECECEC;

  margin-top: 91.44%;
}

.logout-button {
  font-family: "Source Sans Pro";
  left: 10%;
  right: 10%;
  /* 2nd color */

  background: #22333b;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  width: 90%;
}

.wrapper {
  background: linear-gradient(180deg, #22333b 0%, rgba(34, 51, 59, 0.19) 100%),
    url(images/wrapper-image.svg);
  background-repeat: no-repeat;
  height: 350px;
  border: 1px solid rgba(223, 228, 229, 0.5);
}

.wrapper-2 {
  background: linear-gradient(180deg, #22333b 0%, rgba(34, 51, 59, 0.19) 100%),
    url(./images/wrapper-2.svg);
  background-repeat: no-repeat;
  height: 350px;
  border: 1px solid rgba(223, 228, 229, 0.5);
}

.wrapper-3 {
  background: linear-gradient(180deg, #22333b 0%, rgba(34, 51, 59, 0.19) 100%),
    url(/images/nurse-triage.svg);
  height: 350px;
  border: 1px solid rgba(223, 228, 229, 0.5);
}

.dashboard-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  /* neutral */

  color: #ffffff;
}

.triage-card {
  background: #ffffff;
  border: 0.91498px solid rgba(223, 228, 229, 0.5);
  box-sizing: border-box;
  border-radius: 3.65992px;
}

.input-form {
  background: #f9f9fc;
  border-radius: 5px;
  height: 48px;
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  color: #04151f;
  opacity: 0.4;
  padding-left: 36px;
  position: relative;
  width: 90%;
}

.search {
  position: absolute;
  left: 4%;
  top: 30%;
}

.bell-navbar {
  background: #d32027;
  box-shadow: 0px 5px 10px rgba(240, 58, 71, 0.322);
  border-radius: 5px;
}

.user {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #333333;
}

.name {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #333333;
}

.card-heading {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18.1771px;
  line-height: 23px;

  color: #233b5a;
}
.card-description {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  /* identical to box height */

  /* 2nd color */

  color: #22333b;
}

.card-description:hover {
  text-decoration: none;
  cursor: pointer;
  color: #22333b;
}

.card-value {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 29.2793px;
  line-height: 20px;

  /* 2nd color */

  color: #22333b;
}

.grey {
  background: rgba(34, 51, 59, 0.05);
  border-radius: 43.919px;
}

.black {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 43.919px;
}

.green-card {
  /* width: 141.82px;
height: 100.65px;
left: 0px;
top: 0px; */

  /* 2nd accent */

  background: #8be8cb;
  border-radius: 3.65992px;
}

.grey-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3.65992px;
}

.inner-description {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 10.9798px;
  line-height: 5px;
  /* identical to box height */

  text-align: center;

  /* 2nd color */

  color: #22333b;
}

.inner-value {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 21.9595px;
  line-height: 5px;
  /* identical to box height */

  /* 2nd color */

  color: #22333b;
}

.optics-card {
  background: #22333b;
  border: 0.91498px solid rgba(34, 51, 59, 0.5);
  border-radius: 4.5749px;
}

.general-card {
  /* neutral */

  background: #ffffff;
  border: 1px solid rgba(223, 228, 229, 0.5);
  border-radius: 5px;
  margin-top: -50px;
  z-index: 90;
}

.nurse-inner-card {
  /* neutral */

  background: #ffffff;
  border: 1px solid rgba(223, 228, 229, 0.5);
  border-radius: 5px;
  margin-top: -160px;
  z-index: 90;
}
.row-sizing {
  padding-bottom: 4rem;
}

.report-card {
  /* neutral */

  background: #ffffff;
  border: 1px solid rgba(223, 228, 229, 0.5);
  border-radius: 5px;

  z-index: 90;
}

.row-sizing {
  padding-bottom: 4rem;
}

.table-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.table-content {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 13.0694px;
  line-height: 16px;
  /* identical to box height */

  /* text */

  color: #344563;
}

.view-btn {
  background: #fff7e5;
  border-radius: 5.22777px;
}

.btn-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12.1981px;
  line-height: 15px;
  /* identical to box height */

  /* text */

  color: #344563;
}

.gold-btn {
  font-family: "Source Sans Pro";
  background-color: #fff7e5;
  color: #ffab00;
  font-size: 12.1981px;
  line-height: 15px;
}

.gold-btn:hover {
  color: #ffab00;
}



.available {
  background: #EBEFF5;

  border-radius: 5.3px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 80%;
  color:#3C609D;
}

.available span {
  background:#3C609D;
  width: 4px;
  height: 4px;
  border-radius: 2.61388px
}




.triage {
  /* green accent */

  background: #fbe9e9;

  border-radius: 5.3px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #344563;
  width: 80%;
}

.triage span {
  background: #d32027;

  width: 4px;
  height: 4px;
  border-radius: 2.61388px;
}

.consultation {
  /* green accent */

  background: #eaf4f6;

  border-radius: 5.3px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #344563;
  width: 80%;

}


.consultation span {
  background: #64c8bc;
  width: 4px;
  height: 4px;
  border-radius: 2.61388px;
}

.treatment {
  /* green accent */
  background: #ebeff5;
  border-radius: 5.3px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #344563;
  width: 100px;
  height: 20px;
}

.treatment span {
  background: #344563;

  width: 4px;
  height: 4px;
  border-radius: 2.61388px;
}



.conversation-btn {
  background: #eaf4f6;
  width: auto;
  /* height: 4px; */
}

.table-holder {
  width: 100%;
}

.back-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* text */

  color: #344563;
}

.back-link:hover,
.back-link:visited {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* text */

  color: #344563;
  text-decoration: none;
  cursor: pointer;
}

.edit-button {
  background: #22333b;
  border-radius: 4px;
}

.bg-card {
  background: #ffffff;
  box-shadow: 0px 8.75px 26.25px rgba(209, 213, 223, 0.5);
  border-radius: 4.375px;
}

.blue-heading {
  background: #3c609d;
  box-shadow: 0px 1.75px 1.75px rgba(0, 0, 0, 0.04);
  border-radius: 3.5px;
  padding: 17.5px;
}

.profile-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 17.5px;
  line-height: 18px;
  color: #ffffff;
}

.profile-description > div:nth-child(odd) {
  background: rgba(60, 96, 157, 0.1);
  border-radius: 3.5px;
  /* padding: 17.5px; */
}

.profile-label {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  /* text */

  color: #344563;
}

.profile-value {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  /* text */

  color: #344563;
}

.action-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.201968px;

  color: #253858;
}

.profile {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4rem;
}

.modal-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  margin: 0 auto;
  letter-spacing: 0.1px;

  /* Header text color */

  color: #0e0e0e;
}

.modal-input {
  /* light bg */
  width: 300px;
  height: 48px;
  background: #f9f9fc;
  /* light bg */

  border: 1px solid #f9f9fc;
  box-sizing: border-box;
  border-radius: 2px;
}

select {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.1px;

  /* inactive color */

  color: #b5b5b5;
}

.back-btn {
  width: 113px;
  height: 47px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* inactive color */

  background: #b5b5b5;
  border-radius: 5px;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.save-btn {
  width: 136px;
  height: 47px;
  left: 143px;
  top: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* 2nd color */

  background: #22333b;
  border-radius: 5px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 300px;
  height: 48px;
  background: #f9f9fc;
  /* light bg */
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;

  /* inactive color */
  color: #b5b5b5;

  border: 1px solid #f9f9fc;
  box-sizing: border-box;
  border-radius: 2px;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: url(./images/download.svg);
  background: transparent;
}

.red-vertical-line {
  width: 29px;
  height: 0px;
  background: #d32027;
  border: 2px solid #d32027;
  transform: rotate(90deg);
}

.red-btn {
  background: #d32027;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}

.red-btn:hover {
  color: #fff;
  cursor: pointer;
}

.register-card {
  /* width: 275px;
  height: 187px; */

  background: linear-gradient(
    123.78deg,
    #0f2851 8.18%,
    #143d83 62.09%,
    #0c7076 118.29%
  );
  border-radius: 5px;
  margin-bottom: -50px;
}

.discharge-card {
  /* width: 275px;
  height: 180px; */

  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-bottom: -60px;
}

.yellow-card-background img {
  background: #fcd79c;
}

.card-row {
  margin-top: -50px;
}

.community-card {
  border: 1px solid #e7e7e7;
  border-radius: 5px;

  background: #ffffff;
}

.patient-search-card {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.report-card {
  background: #ffffff;
  border: 1px solid rgba(223, 228, 229, 0.5);
  border-radius: 5px;
  width: 1118px;
}

.patient-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  color: #233b5a;
}

.entries {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.filter {
  border-radius: 4px;
  outline: none;
}

.card-number {
  color: #063d99;
}
.community-tag {
  color: #06a77d;
}

.hmo-tag {
  color: #d32027;
}

.value {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.blue-bg {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 48px;
}

.card-icon {
  width: 60px;
  height: 60px;
}

.blue {
  background: rgba(255, 255, 255, 0.05);
}

.red-card-background img {
  background: #f3afb2;
  opacity: 0.4;
  border-radius: 3.75293px;
}

.gold-card-background img {
  /* other color */

  background: #ffdd99;

  border-radius: 3.75293px;
}

.light-blue-background img {
  /* 2nd accent */

  background: #8be8cb;
  border-radius: 3.75293px;
}

.sky-blue-background img {
  background: #aad7e2;

  border-radius: 3.75293px;
}

.card-icon img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-card-input {
  background: #f9f9fc;
  border-radius: 4px;
}

.search-button {
  /* 2nd color */

  background: #22333b;
  border-radius: 5px;
  padding: 10px 20px;
  width: 140px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
}

/* ::-webkit-datetime-edit { color: transparent; }
:focus::-webkit-datetime-edit { color: #000; }
 */

.nurse-card {
  width: 265.35px;

  border: 0.671766px solid rgba(223, 228, 229, 0.5);
  border-radius: 2.68706px;
}

.nurse-triage-card {
  background: #fbfbfb;
}

.triage-card-heading {
  font-size: 11px;
  line-height: 14px;
  color: #22333b;
}

.nurse-value-dark {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 21.4965px;
  line-height: 27px;
  /* 2nd color */

  color: #22333b;
}

.nurse-description-dark {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 9.40472px;
  line-height: 12px;

  color: #22333b;
}

.counselling-value {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 21.4965px;
  line-height: 27px;
  /* 2nd color */

  color: #ffffff;
}
.counselling-card-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;

  color: #ffffff;
}

.nurse-inner-value {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #22333b;
}

.nurse-inner-description {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;

  /* 2nd color */

  color: #22333b;
}

.nurse-inner-description-white {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;

  /* 2nd color */

  color: #ffffff;
}

.gold-card {
  background: #fcd79c;
  border-radius: 2.68706px;
}

.red-text {
  /* Primary color */

  color: #d32027;
}

.green-text {
  color: #64C8BC;
}

.green-text:hover {
  color: #64C8BC;
}

.initiate-btn {
  background: #fbe9e9;

  border-radius: 5.3px;
  font-family: "Source Sans Pro";
  outline: none;
}


.initiate-btn:hover {
  color: #d32027;
}

.gender-tab {
  /* dark-emed */

  background: #64c8bc;
  mix-blend-mode: normal;
  border-radius: 5.22777px;
  width: 50%;
}

.black-badge {
  background: #22333b;
  width: 4px;
  height: 4px;
  border-radius: 2.61388px;
}

.nurse-sidebar-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  /* neutral */
  color: #0e0e0e;
}

.nurse-sidebar-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
  /* neutral */
  color: #0e0e0e;
  text-decoration: none;
}

.nurse-sidebar-text:hover {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
  /* neutral */
  color: #0e0e0e;
  text-decoration: none;
}

.triage-active {
  /* 2nd color */

  background: #22333b;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.triage-active:hover {
  /* 2nd color */

  background: #22333b;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.nurse-heading-wrapper {
  background: #ffffff;
  border: 1px solid rgba(223, 228, 229, 0.5);
  box-shadow: 0px 2px 4px #f9f9fc;
  border-radius: 5px 5px 0px 0px;
}

.nurse-form-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;

  color: #000000;
}

.nurse-input {
  background: #f9f9fc;
  border-radius: 2px;
}

.custom-control-label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #8be8cb;
  background-color: #8be8cb;
}

.custom-control-label:before {
  border-color: #8be8cb;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #8be8cb;
  color: #fff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='cyan' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.nurse-btn-group {
  margin-top: 210px;
}

.tabs-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* inactive color */

  color: #b5b5b5;

  color: #6a7d83;
}
.nav-tabs {
  border-bottom: 1px solid #d4d4d4 !important;
}
.nav-tabs .nav-link {
  border: transparent;
}
.tabs-link.active,
.tabs-link:focus,
.tabs-link:hover {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* Header text color */

  color: #0e0e0e !important;

  /* identical to box height */
  border-bottom: 3px solid #8be8cb !important;
  background: transparent !important  ;
  /* color: #1b998b !important; */
}

.operation-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  /* dark-emed */

  color: #64c8bc;
}

.nurse-btn-operation {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 50%;
}


.nurse-dropdown {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #1D2B4F;
cursor: pointer;

}

.nurse-dropdown:hover {
   background:  #ffffff;
   cursor: pointer;

}


.nurse-dropdown:nth-child(even) {
  background: #8BE8CB;
color: #ffffff;

  /* padding: 17.5px; */
}




/* PHARMACY-REPORT */


.well {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #253858;
  margin-top: 26px;
  margin-bottom: 3px;
  margin-left: 5rem;
}

.bloo {
  width: 90px;
  height: 4px;
  background-color: #21c86c;
  margin-bottom: 0;
}

.tunchies {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #ee427f;
}

ul.sub_menu{
  margin-top: 1.1rem;
  background-color: #f2f2f2;
}

.dolce{
  background-color: #fff !important;
}

.rect {
  margin-bottom: 8px;
}

.content__page-navi {
  margin-top: 78px;
  margin-right: 60px;
  margin-bottom: 44px;
}

.zero1 {
  height: 100px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.deck {
  border: 0px;
}

.zero2 {
  height: 350px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.zerol2 {
  height: 350px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.zero3 {
  height: auto;
  /* overflow-x: scroll; */
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.zero4 {
  height: auto;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.zero1text {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #404040;
}

.zero1number {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 550;
  font-style: normal;
  color: #404955;
  /* margin-left: 6rem; */
}

.zeroo1number {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 550;
  font-style: normal;
  color: #404955;
  /* margin-left: 2rem; */
}

.zeero1number {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 550;
  font-style: normal;
  color: #404955;
  /* margin-left: 6rem; */
}

.topflex {
  color: #4d4f5c;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.btnflex {
  width: 110px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #d7dae2;
  background-color: #ffffff;
  color: #4d565c;
}

.btn-secondary:hover {
  background-color: unset !important;
  color: #4d565c;
  border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #4d565c;
  border: solid 1px #d7dae2;
  background-color: #ffffff;
}

.table .thead-light th {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  color: #a3a6b4;
}

/* .table td,
.table th {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #4d4f5c;
} */

.summit {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #4d4f5c;
}

.minday {
  opacity: 0.5;
  font-size: 13px;
  font-weight: normal;
  text-align: right;
  color: #4d4f5c;
}

#chartdiv {
  width: 100%;
  max-height: 250px;
  height: 100%;
}


.investigation-btn {
  background: #D32027;
  border-radius: 5.22777px;
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 12.1981px;
line-height: 15px;

}


.total-investigations-card {
  background: #344563;
border: 1.26138px solid rgba(34, 51, 59, 0.5);
border-radius: 6.30689px;
}

.pending-investigations-card  {
  background: #F3AFB2;
border: 1.26138px solid rgba(34, 51, 59, 0.5);
border-radius: 6.30689px;
}

.total-orders-card {
  background: #64C8BC;
border: 1.26138px solid rgba(34, 51, 59, 0.5);
border-radius: 6.30689px;
}

.investigation-card-heading {
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
word-break: keep-all;
}


.investigation-value {
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: bold;
font-size: 34.481px;
line-height: 43px;
}


.investigation-description-blue {
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 15.0855px;
line-height: 19px;

background: rgba(255, 255, 255, 0.05);
border-radius: 51.7215px;

}

.details {
  margin-top: 100px;
  width: 50%;
}




.red-text {
  color: #D32027;
}


.test-button {
  padding: 14px 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: #B5B5B5;
border-radius: 5px;
}

.submit-btn {
  padding: 14px 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  background: #22333b;
border-radius: 5px;
}


.action-buttons {
  margin-bottom: 140px;
}



input[type="time"]:before {
  font-family: "Source Sans Pro", sans-serif;

}


