
/* sidebar styles start */
.sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-image: url(../../../images/figure.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 99;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  /* Text Black */

  color: #484b51;
}

.sidebar a.active {
  background-color: #d32027;
  color: white;
  width: 220px;
}

.sidebar a:hover .sidebar-icon svg.icon {
  /* width: 100px; */
  fill: #ffffff;
  /* background-color: indigo; */
}


.underline {
  border-bottom: 1px solid#ECECEC;

  margin-top: 91.44%;
}

.logout-button {
  font-family: "Source Sans Pro";
  left: 10%;
  right: 10%;
  /* 2nd color */

  background: #22333b;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  width: 90%;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #d32027;
  color: white;
}
.main-menu {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #667389;
}

.main-content {
  display: flex;
  width: 100%;
}

.main-content .sidenav {
  min-width: 255px;
  max-width: 255px;
  height: 100vh;
  position: fixed;
  background: grey;
  overflow-y: auto;
}



/* end of sidebar styles */



/* start of header styles */
.content {
  margin-left: 240px;
  /* width: 100%; */
}
.input-form {
  background: #f9f9fc;
  border-radius: 5px;
  height: 48px;
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  color: #04151f;
  opacity: 0.4;
  padding-left: 36px;
  position: relative;
  width: 90%;
}

.search {
  position: absolute;
  left: 4%;
  top: 30%;
}

.bell-navbar {
  background: #d32027;
  box-shadow: 0px 5px 10px rgba(240, 58, 71, 0.322);
  border-radius: 5px;
}

.user {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #333333;
}

.name {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #333333;
}

.wrapper {
  background: linear-gradient(180deg, #22333b 0%, rgba(34, 51, 59, 0.19) 100%),
    url(../../../images/wrapper-image.svg);
  background-repeat: no-repeat;
  height: 350px;
  border: 1px solid rgba(223, 228, 229, 0.5);
}


.wrapper-3 {
  background: linear-gradient(180deg, #22333b 0%, rgba(34, 51, 59, 0.19) 100%),
    url(../../../images/nurse-triage.svg);
  height: 350px;
  border: 1px solid rgba(223, 228, 229, 0.5);
}



.red-vertical-line {
  width: 29px;
  height: 0px;
  background: #d32027;
  border: 2px solid #d32027;
  transform: rotate(90deg);
}


.dashboard-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  /* identical to box height */

  /* neutral */

  color: #ffffff;
}

.dashboard-heading:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;

}


.investigation-btn {
  background: #D32027;
  border-radius: 5.22777px;
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 12.1981px;
line-height: 15px;

}


/* end of header styles */


.triage-card {
  background: #ffffff;
  border: 0.91498px solid rgba(223, 228, 229, 0.5);
  box-sizing: border-box;
  border-radius: 3.65992px;
}


.card-description {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  /* identical to box height */

  /* 2nd color */

  color: #22333b;
}

.card-description:hover {
  text-decoration: none;
  cursor: pointer;
  color: #22333b;
}
.card-value {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 29.2793px;
  line-height: 20px;

  /* 2nd color */

  color: #22333b;
}
.grey {
  background: rgba(34, 51, 59, 0.05);
  border-radius: 43.919px;
}


.green-card {

  width: 100px;

  /* 2nd accent */

  background: #8be8cb;
  border-radius: 3.65992px;

}

.inner-description {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;

  /* 2nd color */

  color: #22333b;
}

.inner-value {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 21.9595px;
  line-height: 5px;
  /* identical to box height */

  /* 2nd color */

  color: #22333b;
}
.optics-card {
  background: #22333b;
  border: 0.91498px solid rgba(34, 51, 59, 0.5);
  border-radius: 4.5749px;
}
.grey-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3.65992px;
  width: 100px;
}

.table-holder {
  width: 100%;
}


.general-card {
  /* neutral */

  background: #ffffff;
  border: 1px solid rgba(223, 228, 229, 0.5);
  border-radius: 5px;
  margin-top: -50px;
  z-index: 90;
}

.row-sizing {
  padding-bottom: 4rem;
}
.table-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 17px;
}

.table-content {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  /* text */

  color: #344563;
}



.consultation {
  /* green accent */

  background: #eaf4f6;

  border-radius: 5.3px;
  font-family: "Source Sans Pro";
  font-style: normal;
  color: #344563;
  width: 65%;
  text-align: center;

}


.gold-btn {
  font-family: "Source Sans Pro";
  background-color: #fff7e5;
  color: #ffab00;
  font-size: 12.1981px;
  line-height: 15px;
  text-decoration: none;
}


.conversation-btn {
  background: #eaf4f6;
  width: auto;
  /* height: 4px; */
}

.btn-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12.1981px;
  line-height: 15px;

  /* identical to box height */

  /* text */

  color: #344563;
}
.investigation-btn {
  background: #D32027;
  border-radius: 5.22777px;
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 12.1981px;
line-height: 15px;

}


.total-investigations-card {
  background: #344563;
border: 1.26138px solid rgba(34, 51, 59, 0.5);
border-radius: 6.30689px;
}

.pending-investigations-card  {
  background: #F3AFB2;
border: 1.26138px solid rgba(34, 51, 59, 0.5);
border-radius: 6.30689px;
}

.total-orders-card {
  background: #64C8BC;
border: 1.26138px solid rgba(34, 51, 59, 0.5);
border-radius: 6.30689px;
}

.investigation-card-heading {
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
word-break: keep-all;
}


.investigation-value {
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: bold;
font-size: 34.481px;
line-height: 43px;
}


.nurse-sidebar-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  /* neutral */
  color: #0e0e0e;
}

.nurse-sidebar-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
  /* neutral */
  color: #0e0e0e;
  text-decoration: none;
}

.nurse-sidebar-text:hover {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
  /* neutral */
  color: #0e0e0e;
  text-decoration: none;
}

.triage-active {
  /* 2nd color */

  background: #22333b;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.triage-active:hover {
  /* 2nd color */

  background: #22333b;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.nurse-heading-wrapper {
  background: #ffffff;
  border: 1px solid rgba(223, 228, 229, 0.5);
  box-shadow: 0px 2px 4px #f9f9fc;
  border-radius: 5px 5px 0px 0px;
}

.nurse-form-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;

  color: #000000;
}

.nurse-input {
  background: #f9f9fc;
  border-radius: 2px;
}

.custom-control-label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #8be8cb;
  background-color: #8be8cb;
}

.custom-control-label:before {
  border-color: #8be8cb;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #8be8cb;
  color: #fff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='cyan' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.nurse-btn-group {
  margin-top: 210px;
}

.tabs-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* inactive color */

  color: #b5b5b5;

  color: #6a7d83;
}
.nav-tabs {
  border-bottom: 1px solid #d4d4d4 !important;
}
.nav-tabs .nav-link {
  border: transparent;
}
.tabs-link.active,
.tabs-link:focus,
.tabs-link:hover {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* Header text color */

  color: #0e0e0e !important;

  /* identical to box height */
  border-bottom: 3px solid #8be8cb !important;
  background: transparent !important  ;
  /* color: #1b998b !important; */
}



.nurse-inner-card {
  /* neutral */

  background: #ffffff;
  border: 1px solid rgba(223, 228, 229, 0.5);
  border-radius: 5px;
  margin-top: -150px;
  z-index: 90;
}

.investigation-description-blue {
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 15.0855px;
line-height: 19px;

background: rgba(255, 255, 255, 0.05);
border-radius: 51.7215px;

}
.details {
  margin-top: 100px;
  width: 50%;
}


.gender-tab {
  /* dark-emed */

  background: #64c8bc;
  mix-blend-mode: normal;
  border-radius: 5.22777px;
  width: 50%;
}






.profile-label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  /* text */

  color: #344563;
}


::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}


.action-buttons {
  margin-bottom: 140px;
}


.test-button {
  padding: 14px 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: #B5B5B5;
border-radius: 5px;
}


.submit-btn {
  padding: 14px 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  text-decoration: none;
  background: #22333b;
border-radius: 5px;
}

.submit-btn:hover {
  text-decoration: none;
}



.green-text {
  color: #64C8BC;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 12.1981px;
line-height: 15px;
}

.green-text:hover {
  color: #64C8BC;
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 12.1981px;
line-height: 15px;
}


.gold-btn:hover {
  color: #ffab00;
  text-decoration: none;
}

.optics-tab {
  background: #ffffff;
  border-radius: 8.78049px;
  box-shadow: 0px 20.1951px 38.6341px rgba(176, 183, 195, 0.14);
}

.visit-tab {
  background: #ffffff;
  border-radius: 8.78049px;
  box-shadow: 0px 20.1951px 38.6341px rgba(176, 183, 195, 0.14);
}

.visit-text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  /* text */

  color: #344563;
}

.optics-text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Header text color */

  color: #0e0e0e;
}

.drop-down {
  margin-left: 6rem;
}

.optics-tab-heading {
  background: #ffffff;
  /* new shadow */

  box-shadow: 0px 20.1951px 38.6341px rgba(176, 183, 195, 0.14);
  border-radius: 8px 8px 0px 0px;
}

.optics-img {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-description {
  background: #fff7e5;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  /* other color */

  color: #ffab00;
  border-radius: 6.09906px;
}

.pressure-description {
  /* Primary color accent */
  background: #fbe9e9;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  color: #d32027;
  border-radius: 6.09906px;
}

.pulse-description {
  /* green accent */

  background: #eaf4f6;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  /* text */

  color: #344563;

  border-radius: 6.09906px;
}

.bmi-description {
  /* green accent */

  background: #ebeff5;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  /* text */

  color: #344563;

  border-radius: 6.09906px;
}

.oxygen-description {
  /* green accent */

  background: #fffbf5;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  /* Primary color */

  color: #3c609d;

  border-radius: 6.09906px;
}

.sugar-description {
  background: #eaf4f6;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  /* Primary color */

  color: #64c8bc;

  border-radius: 6.09906px;
}

.vitals-value {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14.2311px;
  line-height: 18px;
  /* identical to box height */

  text-align: right;

  /* text */

  color: #344563;
}

.custom-select {
  /* background: #f9f9fc; */
  border-radius: 2px;
}

select {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.1px;
}

.addNew {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.1px;

  /* Primary color */

  color: #3c609d;
  text-decoration: none;
  cursor: pointer;
}

.addNew:hover {
  text-decoration: none;
  cursor: pointer;
  color: #3c609d;
}

.addNew:visited {
  text-decoration: none;
  cursor: pointer;
  color: #3c609d;
}

.green-bg {
  background: #8be8cb;
  border-radius: 2px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  width: 109px;
  height: 48px;
  letter-spacing: 0.1px;

  /* 2nd color */

  color: #22333b;
}



.green-large-bg {
  background: #8be8cb;
  border-radius: 2px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  height: 48px;
  letter-spacing: 0.1px;

  /* 2nd color */

  color: #22333b;
}

.consultation-input {
  padding: 12px 8px;
  /* light bg */

  background: #f9f9fc;
}

.consultation-input-sm {
  padding: 12px 8px;
  /* light bg */
width: 106px;
  background: #f9f9fc;
  display: grid;
  grid-row-gap: 50px;
}

.green-heading {
  font-family: 'Source Sans Pro',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* identical to box height */


/* dark-emed */

color: #64C8BC;

}


.consultation-select {
height: 57px;


/* light bg */

background: #F9F9FC;
border-radius: 2px;
}


.black-bg {
  padding: 14px 8px;
  width: 322px;
  height: 47px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.1px;

  /* neutral */

  color: #FFFFFF;


background: #22333B;
border-radius: 2px;

}


.action-btns {
  margin-top: 100px;
}




.back{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  /* identical to box height */

  /* neutral */

  color: #ffffff;

}



.back:hover{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 23px; */
  text-decoration: none;
  /* identical to box height */

  /* neutral */

  color: #ffffff;
}

.triage {
  /* green accent */

  background: #fbe9e9;

  border-radius: 5.3px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #344563;
  width: 80%;
}
.red-text {
  /* Primary color */

  color: #d32027;
  cursor: pointer;
}


.save-btn {
  width: 136px;
  height: 47px;
  left: 143px;
  top: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* 2nd color */

  background: #22333b;
  border-radius: 5px;
}


.back-btn {
  width: 113px;
  height: 47px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* inactive color */

  background: #b5b5b5;
  border-radius: 5px;
}
.modal-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  margin: 0 auto;
  letter-spacing: 0.1px;

  /* Header text color */

  color: #0e0e0e;
}




input {
    border: none;
    border-bottom: 2px solid #f3f3f3;
    outline: none;
    width: 100%;
}


.available {
  background: #EBEFF5;

  border-radius: 5.3px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 80%;
  color:#3C609D;
}

.available span {
  background:#3C609D;
  width: 4px;
  height: 4px;
  border-radius: 2.61388px
}
.triage span {
  background: #d32027;

  width: 4px;
  height: 4px;
  border-radius: 2.61388px;
}

.view-btn {
    font-family: "Source Sans Pro";
    background-color: #344563;
    color: #FFFFFF;
    font-size: 12.1981px;
    line-height: 15px;
    text-decoration: none;
    border-radius: 5.22777px;

}
.view-btn:hover {
  background-color: #344563;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}



.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da !important;
  outline: 0;
  box-shadow: none;
}



.btn:focus {
  box-shadow: none;
}
