.optics-tab {
  background: #ffffff;
  border-radius: 8.78049px;
  box-shadow: 0px 20.1951px 38.6341px rgba(176, 183, 195, 0.14);
}

.visit-tab {
  background: #ffffff;
  border-radius: 8.78049px;
  box-shadow: 0px 20.1951px 38.6341px rgba(176, 183, 195, 0.14);
}

.visit-text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  /* text */

  color: #344563;
}

.optics-text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Header text color */

  color: #0e0e0e;
}

.drop-down {
  margin-left: 6rem;
}

.optics-tab-heading {
  background: #ffffff;
  /* new shadow */

  box-shadow: 0px 20.1951px 38.6341px rgba(176, 183, 195, 0.14);
  border-radius: 8px 8px 0px 0px;
}

.optics-img {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-description {
  background: #fff7e5;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  /* other color */

  color: #ffab00;
  border-radius: 6.09906px;
}

.pressure-description {
  /* Primary color accent */
  background: #fbe9e9;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  color: #d32027;
  border-radius: 6.09906px;
}

.pulse-description {
  /* green accent */

  background: #eaf4f6;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  /* text */

  color: #344563;

  border-radius: 6.09906px;
}

.bmi-description {
  /* green accent */

  background: #ebeff5;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  /* text */

  color: #344563;

  border-radius: 6.09906px;
}

.oxygen-description {
  /* green accent */

  background: #fffbf5;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  /* Primary color */

  color: #3c609d;

  border-radius: 6.09906px;
}

.sugar-description {
  background: #eaf4f6;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  /* Primary color */

  color: #64c8bc;

  border-radius: 6.09906px;
}

.vitals-value {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14.2311px;
  line-height: 18px;
  /* identical to box height */

  text-align: right;

  /* text */

  color: #344563;
}

.custom-select {
  /* background: #f9f9fc; */
  border-radius: 2px;
}

select {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.1px;
}

.addNew {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.1px;

  /* Primary color */

  color: #3c609d;
  text-decoration: none;
  cursor: pointer;
}

.addNew:hover {
  text-decoration: none;
  cursor: pointer;
  color: #3c609d;
}

.addNew:visited {
  text-decoration: none;
  cursor: pointer;
  color: #3c609d;
}

.green-bg {
  background: #8be8cb;
  border-radius: 2px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  letter-spacing: 0.1px;

  /* 2nd color */

  color: #22333b;
}

.consultation-input {
  padding: 14px 8px;
  /* light bg */

  background: #f9f9fc;
}

.consultation-input-sm {
  padding: 14px 8px;
  /* light bg */
width: 68px;
  background: #f9f9fc;
}

.green-heading {
  font-family: 'Source Sans Pro',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* identical to box height */


/* dark-emed */

color: #64C8BC;

}


.consultation-select {
  width: 300px;
height: 57px;
left: 0px;
top: 0px;

/* light bg */

background: #F9F9FC;
border-radius: 2px;
}


.black-bg {
  padding: 14px 8px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.1px;

  /* neutral */

  color: #FFFFFF;


background: #22333B;
border-radius: 2px;

}


.action-btns {
  margin-top: 100px;
}




.back{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  /* identical to box height */

  /* neutral */

  color: #ffffff;

}



.back:hover{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 23px; */
  text-decoration: none;
  /* identical to box height */

  /* neutral */

  color: #ffffff;
}

